
footer {
  //background-color: #f1f1f1;
  background-color: #CBF7FF;


  .social-ikone {
    //display: flex;
    //justify-content: space-between;
  }

  .kopirano {
    color: blue;

  }

  .podeli-dugme {
    border: none;
    //color: red;
  }



  .fbox {
    //background-color: rgba(0, 0, 0, 0.2);
    background-color: #44708A;
  }

}