
.lista-kontejner {
  max-width: 540px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin: 1rem 0;
    font-family: 'Parisienne', serif;
    color: cornflowerblue;
  }

  .lista-pesme {
    margin-bottom: 2rem;

    ul {

      li {

        .naslov-pesme {
          color: red;
          font-size: 1.5rem;
        }
        .ruke-ikona {
          color: green;
          font-size: 2.5rem;
          padding-right: 1.6rem;
        }

      }

    }

  }

}