

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 20px;
  width: 100%;
  height: 3rem;
  padding: 1rem 3rem;
  z-index: 99;
   //background-color: blue;
  background-color: transparent;

  .hidden {
    display: none;
  }

  .logo {
    color: antiquewhite;
    font-family: 'Parisienne', serif;

    a {
      text-decoration: none;
      color: antiquewhite;
    }
  }

  .menu-items {
    display: flex;
    gap: 2rem;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: antiquewhite;
        padding-left: 2rem;
        &:hover {
          color: #eeeeee;
        }
      }
      .active {
        color: blue;
      }
    }
  }


  @media screen and (max-width: 500px) {

    padding: 0.7rem 1rem;

    .menu-items {
      position: fixed;
      right: -100%;
      top: 0;
      flex-direction: column;
      width: 85vw;
      height: 100vh;
      background-color: teal;
      transition: all 0.6s ease;
      padding-top: 6rem;

      li {
        border-bottom: 1px solid #eeeeee
      }
    }

    .active {
      right: 0;

      &.bar {

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(1) {
          transform: translateY(15px) rotate(45deg);
          background-color: aqua;
        }

        &:nth-child(3) {
          transform: translateY(1px) rotate(-45deg);
          background-color: aqua;
        }
      }
    }

    .hamburger {
      display: block;
      z-index: 999;

      .bar {
        width: 2.4rem;
        height: 0.05rem;
        background-color: white;
        display: block;
        margin: 6px 0;
        transition: all 0.6s ease;
      }

    }

  }

}