
.pesma-kontejner {
  max-width: 540px;
  min-height: 90vh;
  margin: 5rem auto;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(100, 149, 237, 0.24);

  //border: 1px solid white;

  .inner-kontejner {

    .naslov-datum {

      .naslov {
        text-align: center;
        color: #008348;
        font-weight: bold;
      }
      .datum {
        text-align: left;
        font-size: 1.1rem;
        padding: 0 0 0 2rem;
        margin: 0;
        color: #1c3e72;
      }
      .objavljeno {
        text-align: left;
        font-size: 0.7rem;
        padding: 0 0 0 2rem;
        margin: 0;
        color: #1c3e72;
      }
    }

    .tekst-kontejner {
      position: relative;

      .pozadina {

      }

      .tekst-pesme {
        text-align: center;
        white-space: pre-wrap;
        margin-top: 2rem;

        p {
          margin: 0;
        }
      }
    }



    .dugme-nazad {
      width: 100%;
      margin: 2rem auto;

    }

  }

}