
.pesma-kontejner {
  max-width: 540px;
  min-height: 90vh;
  margin: 5rem auto;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(100, 149, 237, 0.37);

  //border: 1px solid white;

  .naslov-datum {

    .naslov {
      text-align: center;
    }
    .datum {
      text-align: left;
      font-size: 1.1rem;
      padding: 0 0 0 2rem;
      margin: 0;
    }
    .objavljeno {
      text-align: left;
      font-size: 0.7rem;
      padding: 0 0 0 2rem;
      margin: 0;
    }
  }

  .tekst-pesme {
    text-align: center;
    white-space: pre-wrap;
    margin-top: 2rem;

    p {
      margin: 0;
    }
  }

  .dugme-nazad {
    width: 100%;
    margin: 2rem auto;

  }

}