.background {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -9;
  margin: 0 auto;
  //opacity: 0.3;
  transition: background-image 1s ease-in-out;

  //border: 1px solid white;
}